<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 내가 할 때는 class 로 만들었었다 ... -->
  <!-- 작성도 조금 생각나긴 했지만 제대로 작성하지 못 했다.-->
  
<mapper namespace="kr.kh.app.dao.PostDAO">

	<select id="selectCommunityList" resultType="CommunityVO">
		select * from community
	</select>
	
	<select id="selectCommunity" resultType="CommunityVO">
		select * from community where co_num = #{co_num}
	</select>
	
	<select id="selectPostList" resultType="PostVO">
		select * from post
		where po_co_num = #{cri.co_num}
		order by po_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectPostTotalCount" resultType="int">
		select count(*) from post
		where po_co_num = #{cri.co_num}
	</select>
	
</mapper>